/* style.css */

body {
    max-width: 500px;
    margin: auto;
    border: 6px double rgb(15, 133, 7);
    padding-left: 100px;
    padding-right: 160px;
}

h1 {
    font-family: "Apple Chancery", cursive;
    font-variant-east-asian: traditional;
    padding-left: 150px;
}

h4 {
    font-family: Trattatello, fantasy;
    font-size: 20px;
    padding-left: 200px;
}

#shrimp-title {
    padding-left: 100px;
}

p {
    font-family: "Bradley Hand", cursive;
}

ul {
    font-family: papyrus, cursive;
    font-size: italic;
    color: rgba(34, 33, 33, 0.929);
    border: 1px dashed rgb(10, 99, 5);
}

img {
    height: 338px;
    width: 576px;
}

.yield {
    font-family: "Lucida Handwriting", cursive;
    font-size: 32x;
    background-color: rgba(238, 212, 10, 0.814);
}

#pie {
    background-color: #5cc5e2;
}

#shrimp {
    background-color: #e6609f;
}

#sandwhiches {
    background-color: #20a824;
}

ol {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 15px;
}